@tailwind base;
@tailwind components;
@tailwind utilities;

.border-red {
    border: 1px solid red !important;
}

.border-white {
    border: 1px solid white !important;
}

.border-black {
    border: 1px solid black !important;
}

.border-blue {
    border: 1px solid blue !important;
}

.border-green {
    border: 1px solid green !important;
}

.border-yellow {
    border: 1px solid yellow !important;
}
/* Top nav backgroud color  */
#top-nav {
    
    background: linear-gradient(
        90deg,
        rgba(255, 13, 2, 1) 0%,
        rgba(29, 69, 130, 1) 100%
    );
}

.gradient-text {
    background: linear-gradient(90deg, rgba(255, 13, 2, 1) 0%, rgba(29, 69, 130, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}